cart-items .title-wrapper-with-link {
  margin-top: 0;
  margin-bottom: 6rem;

}

.title-wrapper-with-link .title{
  font-family: 'Jost';
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.445;
  text-align: left;
  color: #2B2B2D;
  text-transform: capitalize;
}

.cart-items td,
.cart-items th {
  padding: 0;
  border: none;
}

.cart-items th {
  text-align: left;
  padding-bottom: .8rem;
  opacity: 0.85;
  font-weight: normal;
}

.cart-item__quantity-wrapper {
  display: flex;
}

.cart-item__totals {
  position: relative;
}

.cart-items *.right {
  text-align: right;
}
@media screen and (min-width:1440px) {
  .cart-items *.right {
    text-wrap: nowrap;
  }
}

.cart-item__image-container {
  display: inline-flex;
  align-items: flex-start;
}

.cart-item__image-container:after {
  content: none;
}

.cart-item__image {
  height: auto;
  max-width: calc(10rem / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .cart-item__image {
    max-width: 100%;
  }
}

.cart-item__details {
  font-size: 1.6rem;
  line-height: calc(1 + 0.4 / var(--font-body-scale));
}

.cart-item__details > * {
  margin: 0;
  max-width: 30rem;
}

.cart-item__details > * + * {
  margin-top: 0.6rem;
}

.cart-item__media {
  position: relative;
}

.cart-item__link {
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cart-item__name {
  text-decoration: none;
  display: block;
}

.cart-item__name:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.2rem;
}

.cart-item__price-wrapper > * {
  display: block;
  margin: 0;
  padding: 0;
}

.cart-item__discounted-prices dd {
  margin: 0;
}

.cart-item__discounted-prices .cart-item__old-price {
  font-size: 1.4rem;
}

.cart-item__old-price {
  opacity: 0.7;
}

.cart-item__final-price {
  font-weight: 400;
}

.product-option {
  font-size: 1.4rem;
  word-break: break-word;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.cart-item cart-remove-button {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
  justify-content: flex-end;
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .cart-item cart-remove-button {
    width: 4.5rem;
    height: 4.5rem;
  }
}

cart-remove-button .button {
  min-width: calc(4.5rem / var(--font-body-scale));
  min-height: 4.5rem;
  padding: 0;
  margin: 0 0.1rem 0.1rem 0;
}

cart-remove-button .button:before,
cart-remove-button .button:after {
  content: none;
}

cart-remove-button .button:not([disabled]):hover {
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
  cart-remove-button .button {
    min-width: 3.5rem;
    min-height: 3.5rem;
  }
}

cart-remove-button .icon-remove {
  height: 1.5rem;
  width: 1.5rem;
}

.cart-item .loading__spinner {
  top: 0;
  left: auto;
  right: auto;
  bottom: 0;
  padding: 0;
}

@media screen and (min-width: 750px) {
  .cart-item .loading__spinner {
    right: 0;
    padding-top: 4.5rem;
    bottom: auto;
  }
}

.cart-item .loading__spinner:not(.hidden) ~ * {
  visibility: hidden;
}

.cart-item__error {
  display: flex;
  align-items: flex-start;
  margin-top: 0.2rem;
  width: min-content;
  min-width: 100%;
}

.cart-item__error-text {
  font-size: 1.3rem;
  line-height: 1.4;
  letter-spacing: 0.04rem;
  order: 1;
}

.cart-item__error-text + .svg-wrapper {
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.7rem;
  margin-top: 0.25rem;
}

.cart-item__error-text:empty + .svg-wrapper {
  display: none;
}

.product-option + .product-option {
  margin-top: 0.4rem;
}

.product-option * {
  display: inline;
  margin: 0;
}

.cart-items thead th {
  text-transform: uppercase;
}

@media screen and (max-width: 749px) {
  .cart-items,
  .cart-items thead,
  .cart-items tbody {
    display: block;
    width: 100%;
  }

  .cart-items thead tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.2);
    margin-bottom: 4rem;
  }

  .cart-item {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    gap: 1rem;
    padding-bottom: 2rem;
    align-items: center;
    justify-content: center;
    border-bottom:  1px solid #DEE2E6;
  }

  .cart-item:last-child {
    margin-bottom: 0;
  }

  .cart-item__media {
    grid-row: 1 / 2;
  }

  .cart-item__details {
    grid-column: 1 / 4;
    grid-row:2/3;
  }

  .cart-item__quantity {
    grid-column: 3/ 4;
  }

  .cart-item__totals{
    grid-column: 4/ -1;
    grid-row:2/3;
  }

  .cart-item__quantity-wrapper {
    flex-wrap: wrap;
  }

  .cart-item__totals {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }
}
@media screen and  (max-width:460px) {
  .cart-item {
    grid-template-columns:  repeat(2, 1fr);
  }
}
@media screen and (min-width: 750px) {
  .cart-items {
    border-spacing: 0;
    border-collapse: separate;
    box-shadow: none;
    width: 100%;
    display: table;
  }

  .cart-items thead th:first-child {
    width: 50%;
  }

  .cart-items th + th {
    padding-left: 4rem;
  }

  .cart-items td {
    vertical-align: top;
    padding-top: 4rem;
  }

  .cart-item {
    display: table-row;
  }

  .cart-item > td + td {
    padding-left: 4rem;
  }

  .cart-item__details {
    width: 35rem;
  }

  .cart-item__media {
    width: 10rem;
  }

  .cart-item__price-wrapper > *:only-child:not(.cart-item__discounted-prices) {
    margin-top: 1rem;
  }

  .cart-item__error {
    margin-left: 0.3rem;
  }
}

@media screen and (min-width: 990px) {
  .cart-item .cart-item__quantity,
  .cart-items .cart-items__heading--wide {
    padding-left: 6rem;
  }

  .cart-item__details {
    width: 50rem;
  }

  .cart-items thead th:first-child {
    width: 38%;
  }
}

@media screen and (min-width: 750px) {
  .cart-items .cart-items__heading--quantity,
  .cart-item .cart-item__quantity,
  .cart-item__quantity--info quantity-popover > * {
    padding-left: 3.5rem;
  }

  .cart-item .cart-item__quantity--info,
  .cart-item__quantity--info .cart-item__quantity-wrapper,
  .cart-item__quantity--info .cart-items__info {
    padding-left: 0;
  }
}

@media screen and (max-width: 989px) {
  .cart-items .quantity-popover__info-button {
    padding-left: 0;
  }
}

.cart__contents .cart-items thead th{
  font-family: 'Jost';
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.445;
  text-align: left;
  color: #2B2B2D;
  text-transform: capitalize;
  letter-spacing: 0;
}

.cart__contents .cart__items{
  padding: 2rem 3rem 1rem 3rem;
  border: 1px solid #DEE2E6;
  background-color: #F7F7FF80;
  border-radius: .6rem;
  max-width: 102.9rem;
}

.cart__contents .cart__items .cart-item__media{
  min-width: 10rem;
  padding: 2rem 0 0;
  border-top: 1px solid #DEE2E6;
}

.cart__contents .cart__items .cart-item__image-container{
  max-width: 10rem;
  width: 100%;
  aspect-ratio: 1;
  border: none;
  background-color: #E7EAF3;
  border-radius: .6rem;
}

.cart__contents .cart__items .cart-item__image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart__items .cart-item__details{
  padding: 2rem 0 0 2rem;
  border-top: 1px solid #DEE2E6;
}

.cart__items .cart-item__details .cart-item__name{
  font-family: 'Jost';
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.445 ;
  text-align: left;
  color: #2B2B2D;
  text-decoration: none;
}

.cart__items .cart-item__details .product-option{
  width: fit-content;
  display: inline-block;
  font-family: 'Jost';
  font-size: 1.6rem;
  line-height: 1.445;
  text-align: left;
  margin-right: .6rem;
}

.cart__items .cart-item__details .product-option dt{
  font-weight: 400;
  color: #777777;
}

.cart__items .cart-item__details .product-option dd{
  font-weight: 600;
  color: #2B2B2D;
}

.cart__items .cart-item__details dl{
  margin-top: 1rem;
}

.cart__items .price {
  font-family:'Jost';
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.445;
  text-align: left;
  color: #2B2B2D;
  letter-spacing: -.01em;
}

.cart__items .cart-item__price .price {
  margin: 0;
}

.cart__items .cart-item__price {
  padding: 5.5rem 0 0 3rem;
  border-top: 1px solid #DEE2E6;
}

.cart__items .cart-item__totals  .price {
  color: #3BB77E;
  margin: 0;
}

.cart__items .cart-item__totals {
  padding: 5.5rem 0 0 5rem;
  border-top: 1px solid #DEE2E6;
}

.cart__items .cart-item__quantity{
  padding: 5rem 0 0 3.5rem;
  border-top: 1px solid #DEE2E6;
}
.cart-item_remove{
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
@media screen and (max-width:460px) {
  .cart-item_remove{
    justify-content: flex-start;
  }
}
.cart-item_remove .button--editor{
    border: 1px solid #7A7A7A;
    background-color: #fff;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
}
.cart__items .cart-item_remove{
  padding: 5.5rem 0 0 4rem;
  border-top: 1px solid #DEE2E6;
}

.cart-item cart-remove-button{
  margin: 0;
}

.cart__items cart-remove-button .button{
  min-width: 3rem;
  min-height: 3rem;
  border: 1px solid #7A7A7A;
  background-color: #FFFFFF;
  border-radius: .3rem;
}

cart-items .cart_details{
  display: flex;
  gap: 3rem;
}

.cart_details .cart-right {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex: 24.9%;
}

.cart-right .discount{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #DEE2E6;
  background-color: #F7F7FF80;
  border-radius: .6rem;
  padding: 3rem;
}

.cart-right .discount .order{
  font-family: 'Jost';
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.445;
  text-align: left;
  color: #2B2B2D;
}

.cart-right .discount .discount_input{
  position:relative;
}

.cart-right .discount .discount_input input{
  padding: 1.5rem 8rem 1.5rem 1rem;
  width: 100%;
  border: 1px solid #DEE2E6;
  background-color: #fff;
  border-radius: .6rem;
  font-family: 'Jost';
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.445;
  text-align: left;
  color: #77777780;
}

.cart-right .discount #apply-discount-btn{
  font-family: 'Jost';
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.445;
  text-align: left;
  color: #3BB77E;
  border: none;
  background-color: transparent;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;
}

.cart_details .cart-right .total-amount{
  padding: 3rem;
  border: 1px solid #DEE2E6;
  background-color: #F7F7FF80;
  border-radius: .6rem;
}

cart-items .page-width .cart_details .cart-right .total-amount span{
  font-family: 'Jost';
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.445;
  text-align: left;
  color: #7A7A7A;
}

.cart_details .cart-right .total-amount div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.cart_details .cart-right .total-amount .cart__ctas{
  margin-inline: .8rem;
  margin-bottom: 0;
}
.cart_details .amount-title{
  font-family: 'Jost';
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.445;
  text-align: left;
  color: #2B2B2D;
  margin: 0;
  padding-bottom: 1rem;
  border-bottom:1px solid #DEE2E6;
  margin-bottom: 2rem;
}

.cart_details .cart-right .total-amount .final-price .total{
  font-weight: 600;
  color:#2B2B2D;
}

.cart_details .cart-right .total-amount .final-price .price{
  font-weight: 600;
  color:#2B2B2D;
}

.cart_details .cart-right .total-amount .final-price{
  padding-block: .4rem;
  border-bottom: 1px solid #DEE2E6;
  border-top: 1px solid #DEE2E6;
  margin-bottom: 3rem;
}

.cart_details .cart-right .cart__ctas {
  margin: 0;
}

.cart_details .cart-right .cart__checkout-button::after{
  box-shadow: none;
}

cart-items .underlined-link{
  text-decoration: none;
}
cart-items .cart-buttons{
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  flex-wrap: wrap;
  gap: 1rem;
}
cart-items .cart__contents{
  flex: 72.9%;
}

@media screen and (max-width:1200px) {
  cart-items .cart_details{
    flex-direction: column;
  }

  .cart__contents .cart__items{
    max-width: 100%;
  }
}

@media screen and (max-width:989px){
  .cart__items .cart-item__details{
    padding: 2rem 0 0 1rem;
  }
  .cart__items .cart-item__quantity{
    padding: 5rem 0 0 2.5rem;
  }
  .cart__items .cart-item__totals{
    padding: 5rem 0 0 2.5rem;
  }
  .cart__items .cart-item_remove{
    padding: 5rem 0 0 2.5rem;
  }
  .cart-items th+th{
    padding-left: 2.5rem;
  }

  .cart__contents .cart__items .cart-item__image-container{
    min-width: 8rem;
  }

  .cart__contents .cart-items thead th.cart-items__heading--wide{
    padding-left:2.5rem ;
  }
}

@media screen and (max-width:749px){
   .cart__items .cart-item__details{
    padding: 0;
    border:none;
  }
  .cart__items .cart-item__quantity{
    padding: 0;
    border:none;
  }
  .cart__items .cart-item__totals{
    padding: 0;
    border:none;
  }
  .cart__items .cart-item_remove{
    padding: 0;
    border:none;
  }
  .cart__items .cart-item__details .cart-item__name{
    font-size: 1.4rem;
  }
  .cart__items .price{
    font-size: 1.4rem;
  }
  .cart__contents .cart-items thead th{
    font-size: 1.4rem;
  }
  .cart__items .cart-item__price{
    padding:0;
    border:none;
  }

  .cart__contents .cart__items .cart-item__media{
    border: none;
  }

  .cart-right .discount .order{
    font-size: 1.4rem;
  }
  .cart_details .amount-title{
    font-size: 1.4rem;
  }
  .cart-right .discount #apply-discount-btn{
    font-size: 1.6rem;
  }

  .cart-items thead tr{
    display: none;
  }

  .cart__contents .cart__items{
    padding: 1.5rem;
  }

  .cart-buttons .underlined-link{
    width: 100%;
    text-align: center;
  }

  .cart-buttons .clear_cart{
    width: 100%;
    justify-content: center;
  }
  .cart-right .discount{
    padding: 1.5rem;
  }

  .cart_details .cart-right .total-amount{
    padding: 1.5rem;
  }

  cart-items .cart-buttons{
    margin: 0;
  }

  .title-wrapper-with-link .title{
    font-size: 2.4rem;
  }

  cart-items .title-wrapper-with-link{
    margin-bottom: 3rem;
  }
}
