.price-range {
  margin-top:.8rem;
  margin-bottom: 1.8rem;
}
.price_text{
  color: #2B2B2D;
}
.field:after {
  content: none;
  box-shadow: none;
}
.field:before {
  content: none;
}
.field__input:not(:placeholder-shown) {
  padding: 0;
  height: unset;
  min-height: unset;
}
.facets-vertical .facets__price .field:last-of-type {
  margin: 0;
}
.facet-checkbox__text{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.label__tags .facet-checkbox__text{
  width:fit-content;
}
.facet_tag {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.price-facets__filter-btn {
  border: none;
  max-width: 8.5rem;
  text-align: center;
  display: block;
  cursor: pointer;
}
.custom-wrapper {
  margin: 0;
  width: 100%;
  padding: 0px;
  position: relative;
  left: 0;
}

.price-input-container {
  width: 100%;
}

.price-input .price-field {
  display: flex;
  margin-bottom: 22px;
}

.price-field span {
  margin-right: 10px;
  margin-top: 6px;
  font-size: 17px;
}

.price-field input {
  flex: 1;
  height: 35px;
  font-size: 15px;
  font-family: 'DM Sans', sans-serif;
  border-radius: 9px;
  text-align: center;
  border: 0px;
  background: #e4e4e4;
}

.price-input {
  width: 100%;
  font-size: 19px;
  color: #555;
}

/* Remove Arrows/Spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slider-container {
  width: 100%;
}

.slider-container {
  height: 5px;
  position: relative;
  background: #e4e4e4;
  border-radius: 5px;
}

.slider-container .price-slider {
  height: 100%;
  display: block !important;
  left: 25%;
  right: 15%;
  position: absolute;
  border-radius: 5px;
  background: #3bb77e;
}

.range-input {
  position: relative;
}

.range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  background: none;
  top: -8px;
  margin: 0;
  pointer-events: none;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
  height: 10px;
  width: 10px;
  border-radius: 70%;
  background: #3bb77e;
  pointer-events: auto;
  -webkit-appearance: none;
}

@media screen and (max-width: 768px) {
  .main {
    width: 80%;
    margin-right: 5px;
  }

  .custom-wrapper {
    width: 100%;
    left: 0;
    padding: 0 10px;
  }

  .projtitle {
    width: 100%;
    position: relative;
    right: 26px;
  }

  .price-input {
    flex-direction: column;
    align-items: center;
  }

  .price-field {
    margin-bottom: 10px;
  }
}
