.collection-list {
  margin-top: 0;
  margin-bottom: 0;
}

.collection-list-background {
  position: absolute;
  top: -6rem;
  left: -6.6rem;
}

.collection-list-title {
  margin: 0;
}
.section-collection-list .collection-list{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 3rem;
}
.section-collection-list .collection-list .collection-list__item{
  max-width: 100%;
  width: 100%;
}

.section-collection-list .collection-list .collection-list__item.aspect_ratio {
  aspect-ratio: 1;
}   

.section-collection-list .collection-list .collection-list__item.aspect_ratio .card__information {
  padding: 0;
}

.section-collection-list .collection-list .collection-list__item:hover {
  .full-unstyled-link {
    color: #3BB77E;
  }
  .bgcolor.card-wrapper {
    border: 1px solid #3BB77E;
  }
}
.bgcolor.card-wrapper {
  border: 1px solid transparent;
}

.section-collection-list .collection-list .collection-list__item .card-wrapper{
  border-radius: 0.6rem;
  position: relative;
  display: flex;
  align-items: center;
}
.section-collection-list .collection-list .collection-list__item .card-wrapper .card{
  height: fit-content;
  width: 100%;
}
@media screen and (max-width: 749px) {
  .collection-list:not(.slider) {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .page-width {
    padding-left: 0;
    padding-right: 0;
  }

  .section-collection-list .collection-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.collection-list__item:only-child {
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .slider.collection-list--1-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {

  .slider.collection-list--1-items,
  .slider.collection-list--2-items,
  .slider.collection-list--3-items,
  .slider.collection-list--4-items {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection-list__item a:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 989px) {
  .collection-list.slider .collection-list__item {
    max-width: 100%;
  }
  .section-collection-list .collection-list{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    column-gap: 4rem;
  }

  .collection-list-background {
    display: none;
  }
}

.collection-list-view-all {
  margin-top: 2rem;
}

.collection-list-wrapper .card__content .card__information .card__heading {
  text-align: center;
}
@media screen and (max-width: 460px) {
  .section-collection-list .collection-list{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}