.title-with-links .title-with-links__wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 131rem;
  width: 100%;
  margin: 0 auto;
  gap: 3rem;
}

.title-with-links .title-with-links__background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 690px;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  padding-block: 10rem 15.9rem;
}

.title-with-links .title-with-links__background-1 {
  -webkit-clip-path: polygon(0 0, 100% 0%, 86% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 86% 100%, 0% 100%);
  margin-right: -5rem;
  border-top-left-radius: 2.4rem;
  border-bottom-left-radius: 2.4rem;
}

.title-with-links .title-with-links__background-2 {
  -webkit-clip-path: polygon(14% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(14% 0, 100% 0%, 100% 100%, 0% 100%);
  margin-left: -5rem;
  border-top-right-radius: 2.4rem;
  border-bottom-right-radius: 2.4rem;
}

.title-with-links .title-with-links__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: opacity 0.3s ease;
  z-index: 1;
  display: block;
}


.title-with-links__text {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-inline: 10rem;
}

.title-with-links .title-with-links__title {
  font-family: Jost;
  font-size: 2.2rem;
  line-height: 1.445;
  text-align: center;
  color: #FFF;
  z-index: 2;
  width: fit-content;
  margin: 0 auto;
}

.title-with-links .title-with-links__title p {
  margin: 0;
}

.title-with-links .button-primary {
  z-index: 2;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width:1200px) {
  .title-with-links .title-with-links__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .title-with-links .title-with-links__background {
    padding-block: 8rem;
  }

  .title-with-links .title-with-links__background-1,
  .title-with-links .title-with-links__background-2 {
    margin: 0;
    width: 100%;
    -webkit-clip-path: none;
    clip-path: none;
    border-radius: 2.4rem;
  }

  .title-with-links__text {
    padding-inline: 4rem;
  }
}

@media screen and (max-width:749px) {
  .title-with-links .title-with-links__background {
    padding-block: 5rem;
  }

  .title-with-links .title-with-links__title {
    font-size: 1.8rem;
    line-height: 2.9rem;
  }

  .title-with-links__text {
    padding-inline: 2rem;
  }
}