@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  position: absolute;
  z-index: 1;
  width: 1.8rem;
}

@media screen and (max-width: 749px) {
  .collection .loading-overlay {
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    left: 0;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

@media screen and (max-width: 989px) {
  .collection .slider--tablet.product-grid {
    scroll-padding-left: 1.5rem;
  }
}

.collection__description>* {
  margin: 0;
}

.collection__title.title-wrapper {
  margin-bottom: 2.5rem;
}

.collection__title .title:not(:only-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 990px) {
  .collection__title--desktop-slider .title {
    margin-bottom: 2.5rem;
  }

  .collection__title.title-wrapper--self-padded-tablet-down {
    padding: 0 5rem;
  }

  .collection slider-component:not(.page-width-desktop) {
    padding: 0;
  }

  .collection--full-width slider-component:not(.slider-component-desktop) {
    padding: 0 1.5rem;
    max-width: none;
  }
}

.collection__view-all a:not(.link) {
  margin-top: 1rem;
}

.collection .collection-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collection .collection-header .collection-active {
  text-decoration: underline;
}

.collection .heading-left {
  text-align: left;
}

.collection .heading-right {
  text-align: right;
}

.collection .heading-center {
  text-align: center;
}

.collection .collection-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

.collection .collection__title .title {
  font-family: "jost";
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.445;
  text-transform: capitalize;
  margin: 0;
}

.collection .collections-name {
  display: flex;
  gap: 2rem;
}

.collection .collections-name span {
  font-family: "jost";
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.445;
  text-align: left;
  color: #242424;
  cursor: pointer;
}

.collection .collections-name .collection-active {
  color: #3BB77E;
  text-decoration: none;
}

.collection .product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.collection .product-grid .grid__item {
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width:1200px) {
  .collection .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width:990px) {
  .collection .product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

@media screen and (max-width:749px) {
  .collection .collection__title .title {
    font-size: 2.4rem;
  }

  .collection .collection-header {
    gap: 1rem;
  }

  .collection .collections-name span {
    font-size: 1.4rem;
  }
}

@media screen and (max-width:460px) {
  .collection .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .collection .collection-flex {
    flex-direction: column;
  }

  .collection .collection-header {
    justify-content: center;
  }
}

.collection .collection_design-icon {
  width: fit-content;
  position: absolute;
  top: -5.1rem;
  left: 0;
}

@media screen and (max-width:749px) {
  .collection .collection_design-icon {
    max-width: 8rem;
    max-height: 8rem;
    left: -1.4rem;
  }
}